body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center; /*alinha horizontalmente no meio*/
    align-items: center; /*alinha verticalmente no meio*/
    flex-direction: column;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}